﻿
@{
    ViewBag.Title = "Create";
}


<div class="container">
    <h2>Create</h2>
    @using (Html.BeginForm())
    {

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Expered</label>
            <input type="date" class="form-control" name="expered">
        </div>
        <div class="form-group">
            <label>Total</label>
            <input type="number" class="form-control" name="total">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>
