﻿@model QuanLyBanHang.Models.HangHoa
@{
    ViewBag.Title = "Details";
}



<div class="container">
    <h2>Details</h2>
    <ul>
        <li>Id: @Model.id</li>
        <li>Id: @Model.name</li>
        <li>Id: @Model.expered</li>
        <li>Id: @Model.total</li>
    </ul>
</div>