﻿@model List<QuanLyBanHang.Models.HangHoa>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    @Html.ActionLink("Thêm mới", "Create")
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Expered</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        @foreach(var hh in Model)
        {
            <tr>
                <td>@hh.id</td>
                <td>@hh.name</td>
                <td>@hh.expered</td>
                <td>@hh.total</td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = hh.id}) |
                    @Html.ActionLink("Sửa", "Update", new { id = hh.id}) |
                    @Html.ActionLink("Xóa", "Delete", new { id = hh.id}, new { onclick="return confirm('Bạn chắc chắn xóa?')" })
                </td>
            </tr>
        }
    </table>
</div>

